/* Colors */
$paragraph-color: #605f5f;
$brand-main-color: red;
$secondary-color: #ADADAD;

/* Font sizes */
$paragraph-font-size: 16px;

/* Font */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: 'Roboto Condensed', sans-serif;
$logo-font: 'Indie Flower', cursive;

