/* Colors */
$paragraph-color: #605f5f;
$danger: red;
$secondary-color: #ADADAD;
$page-shadow: #E3E3E3;
$detali-color: #f58220;
$detali-color-hover: #FFa200;
$user-color:  #56819f;
$user-color--hover:  #7ec9ff;
$primary-icon-hover: #f5f5f2;
$dark-paragraph: #696969;
$active-green: green;
/* Font sizes */
$paragraph-font-size: 16px;
$paragraph-primary--small: 14px;

/* Font */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: 'Roboto Condensed', sans-serif;
$logo-font: 'Indie Flower', cursive;

