/* Colors */
$paragraph-color: #605f5f;
$brand-main-color: red;
$secondary-color: #ADADAD;
$page-shadow: #E3E3E3;
$detali-color: #F58220;
$user-color:  #56819f;
$primary-icon-hover: #f5f5f2;
/* Font sizes */
$paragraph-font-size: 16px;

/* Font */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: 'Roboto Condensed', sans-serif;
$logo-font: 'Indie Flower', cursive;

