@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "Glyphter";
@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Roboto+Condensed&display=swap");

body {
  background: #f5f5f2;
  display: flex;
  padding-top: 50px;
  width: 100%;
  padding-left: 250px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
}

/* NAVBAR */

.navbar {
  width: 250px;
  background: #191919;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}

.box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  a {
    color: $dark-paragraph;
    &:hover {
      color: $primary-icon-hover;
    }
  }
  span i {
    &:hover {
      color: $primary-icon-hover;
    }
  }
}

.fa-bars {
  color: $dark-paragraph;
  font-size: 20px;
}

.burger {
  display: none;
}

.box__logo {
  font-size: 26px;
  text-decoration: none;
  color: #dbd9d9;
  font-family: $logo-font;
  font-weight: 800;
}

.list {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    font-family: $paragraph-font;
    padding: 10px;
    text-decoration: none;
    color: $paragraph-color;
    &:hover {
      background: linear-gradient(90deg, orange, orange 2%, #282828 2.1%, #282828 100%);
      color: #cecece;
    }
    span {
      margin: 3px 15px 0 5px;
    }
  }
  &:hover span {
    color: #cecece;
  }
}

.item__icon {
  color: $paragraph-color;
}

.mobile__underLine {
  margin-top: 40px;
  border-bottom: 1px solid $paragraph-color;
}

.active {
  display: block;
}

.nav-icon {
  width: 100%;
  height: 100%;
}

.mobile__manager {
  font-family: $paragraph-font;
  color: $paragraph-color;
  text-align: left;
  margin: 15px 0 0 15px;
}

.chat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.avatar {
  background-image: url("/output/90.jpg");
  height: 45px;
  width: 45px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.avatar__dot {
  background: $active-green;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 34px;
}

.chat__nick {
  font-family: $paragraph-font;
  color: $user-color;
  margin-right: 30px;
  &:hover {
    color: $user-color--hover;
  }
}

/* TOPBAR */

.topbar {
  background: white;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 1px 1px $page-shadow;
  margin-right: 8px;
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
}

.element {
  display: flex;
  align-items: center;
  color: $secondary-color;
  font-size: 20px;
}

.element__icon {
  color: $secondary-color;
  height: 100%;
  padding: 15px 15px;
  &:hover {
    background: $primary-icon-hover;
    transition: 0.5s;
  }
}

.icon--borderLeft {
  border-left: 2px solid $page-shadow;
}

.icon--borderRight {
  border-right: 2px solid $page-shadow;
}

.border--left {
  border-left: 2px solid $page-shadow;
}

.border--right {
  border-right: 2px solid $page-shadow;
}

.icon-notification {
  position: relative;
}

.icon-notification::after {
  background: $detali-color;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  content: " ";
  display: block;
  position: absolute;
  top: 12px;
  right: 15px;
}

.element__cash {
  font-weight: 600;
  font-family: $paragraph-font;
}

.icon-arrow-down-small {
  font-size: 13px;
  padding-top: 20px;
}

.element__username {
  font-size: 16px;
  color: $user-color;
  padding-right: 10px;
  &:hover {
    color: $user-color--hover;
  }
}

/* GENERAL */

.general {
  background: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid $page-shadow;
  box-shadow: 0 0 10px $page-shadow;
  font-family: $paragraph-font;
}

.text {
  color: $secondary-color;
  font-weight: 600;
  padding: 15px;
  border-bottom: 2px solid $page-shadow;
}

/* GENERAL--DATE */

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 111px;
  border-bottom: 2px solid $page-shadow;
}

.boxDate {
  display: flex;
  border: 2px solid $page-shadow;
  border-radius: 3px;
  color: $secondary-color;
  span {
    padding: 10px 10px;
  }
  &:hover {
    border: 2px solid gray;
    transition: 0.4s;
    cursor: pointer;
  }
}

.boxDate__split {
  border: 1px solid $page-shadow;
  margin: 5px 0;
}

.boxDate__start,
.boxDate__finish {
  padding: 10px 70px 10px 15px;
  text-align: left;
  color: $dark-paragraph;
  font-weight: 600;
}

.icon-calendar:hover {
  color: gray;
  transition: 0.4s;
}

.icon-refresh {
  margin: 0 15px;
  background: $detali-color;
  color: $page-shadow;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
  &:hover {
    background: $detali-color-hover;
    color: #fff;
    transition: 0.3s;
  }
}

/* GENERAL--STATS */

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.statsBox--wrapper {
  border-bottom: 2px solid $page-shadow;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 250px;
  &:hover {
    border-bottom: 2px solid $secondary-color;
    transition: 0.3s;
  }
}

.statsBox__info {
  font-family: $paragraph-font;
  font-weight: 600;
  color: $secondary-color;
}

.statsBox__value {
  margin-left: 30px;
  color: $dark-paragraph;
  font-weight: 600;
  font-family: $paragraph-font;
}

/* GENERAL--CHART */

.chart {
  h3 {
    color: $secondary-color;
    font-family: $paragraph-font;
    margin: 0 0 30px 65px;
  }
}

.boxChart {
  display: flex;
  justify-content: center;
}

.btn {
  background: #f3f3f1;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  margin: 0 20px 30px;
  cursor: pointer;
  &:hover {
    background: $page-shadow;
    transition: 0.4s;
  }
  h3 {
    font-family: $paragraph-font;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}

.btn--earned {
  background: none;
  h3 {
    color: $user-color;
  }
}

.btn__dot {
  background: #80bfca;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 15px;
}

.dot--orange {
  background: $detali-color;
}

.dot--green {
  background: $active-green;
}

/* GENERAL--DIAGRAM */

.diagram {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}


.topbarMobile {
  display: none;
}

/* BANNERS */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--primary {
  width: 100px;
  height: 40px;
  background: $detali-color;
  color: $primary-icon-hover;
  border: $primary-icon-hover;
  &:hover {
    background: $detali-color-hover;
    transition: 0.5s;
  }
}

.btn--position {
  margin: 20px 0;
}

table {
  width: 100%;
  margin: 0 10%;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}
.myTable,
.table-row {
  border: 2px solid $page-shadow;
  border-right: none;
  border-left: none;
  border-collapse: collapse;
}

.table-row,
td {
  padding: 15px 30px;
  &:hover {
    background: $primary-icon-hover;
  }
}

.table-text {
  font-family: $paragraph-font;
  font-weight: 600;
  color: $dark-paragraph;
}

.link--style {
  text-decoration: none;
  color: $user-color;
  &:hover {
    color: $user-color--hover;
  }
}

.icon-links {
  &:hover {
    color: $detali-color-hover;
  }
}

.icon-trash {
  &:hover {
    color: $danger;
  }
}

.form-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 0;
  h4 {
    flex: 1;
    font-family: $paragraph-font;
    font-weight: 600;
    color: $dark-paragraph;
  }
}

.column {
  flex-direction: column;
}


.form-box {
  width: 100%;
  max-width: 450px;
  input {
    height: 41px;
    width: 309px;
    border: 2px solid $page-shadow;
    border-radius: 4px;
    font-size: 20px;
    font-family: $paragraph-font;
    color: $paragraph-color;
    font-size: $paragraph-primary--small;
    &:hover {
      border: 2px solid gray;
      transition: 0.4s;
    }
  }
}

input[type="email"],
input[type="number"],
input[type="text"] {
  -webkit-appearance: none;
  
}

input[type="email"] {
&:valid {
  border-color: green;
}
&:invalid {
  border-color: red;
}
}

.border--bottom {
  border-bottom: 2px solid $page-shadow;
  padding: 30px 0;
}

/* DETAILS */

.detail {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}


.detail-table {
  margin: 30px 10px;
}

.detail-table,
.detail-row {
  border: 2px solid $page-shadow;
  border-right: none;
  border-left: none;
  border-collapse: collapse;
  overflow-x: hidden;
  
}

.detail__text {
  font-size: $paragraph-primary--small;
  text-align: center;
  padding: 15px 5px;
  font-family: $paragraph-font;
}

.detail-table,
.detail-row,
.table-head {
  flex: 1;
  border-top: none;
}

[id*="detail-row"] {
  &:hover{
    background: $primary-icon-hover;
    cursor: pointer;
  }
}

.btn-box{
  margin: 0 3px 20px;
  background: inherit;
  span{
    white-space: nowrap;
    font-size: $paragraph-primary--small;
    font-family: $paragraph-font;
    color: $paragraph-color;
  }
  i{
    visibility: hidden; 
    font-size: 10px;
    padding-top: 3px;
    padding-left: 5px;
  }
}

.btn-box:hover .header__icon {
  visibility: visible;
}

.pager {
  display: flex;
  margin-bottom: 20px;
}

.pager__item {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 5px 10px;
  border-radius: 4px;
  a{
    color: $user-color;
    text-decoration: none;
  }
  &:hover {
    transition: .4s;
    a {
      color: $user-color--hover;
    }
    background: $primary-icon-hover;
  }
}

.payout-btn {
  @extend .btn-box;

}
.payout {
  @extend .detail;
  margin: 30px 10px 0;
}
.payout,
.payout-table {
  @extend .detail-table;
  border: none;
}
.payout-table,
.payout-row {
  @extend .detail-row;
}

.payout-row {
  display: flex;
  justify-content: space-between;
}

.payout__text {
  @extend .detail__text;
  width: 100px;
  white-space: nowrap;
}

.active {
  background: $primary-icon-hover;
}

.payout-head {
  @extend .table-head;
  flex: none;
  width: 110px;
}

[id*="payout-row"] {
  &:hover{
    background: $primary-icon-hover;
    cursor: pointer;
  }
}



/* MOBILES */

@media (max-width: 767px) {
  /* NAV BAR */

  .topbar {
    display: none;
  }

  .navbar {
    height: auto;
    width: 100%;
    position: fixed;
  }

  .navbar__box {
    justify-content: space-between;
    a {
      margin-left: 40px;
    }
    span {
      margin-right: 20px;
    }
  }

  .burger {
    display: flex;
  }

  .mySidebar {
    display: flex;
    justify-content: center;
    ul {
      width: 100%;
      li {
        width: 100%;
        a {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .mobile {
    display: none;
  }

  .visible {
    display: none;
  }

  /* BODY */

  body {
    padding: 0;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
  }

  .general {
    margin: 2px;
  }

  .text {
    h3 {
      text-align: center;
    }
  }

  .date {
    flex-wrap: wrap;
  }

  .stats {
    flex-direction: column;
    padding: 50px 10px;
  }

  .statsBox--wrapper {
    padding: 20px 0;
  }

  .chart {
    h3 {
      text-align: center;
      margin: 20px 5px;
    }
  }

  .chart__boxChart {
    flex-wrap: wrap;
  }

  .boxChart__btn {
    h3 {
      margin: 5px 5px;
    }
  }

  .btn {
    height: 50px;
  }

  .diagram {
    padding: 10px 5px;
  }

  .topbarMobile {
    display: flex;
    width: 100%;
  }

  .bottomBar {
    width: 100%;
  }

  .caddy {
    justify-content: center;
    flex-direction: column;
  }

  .caddy-element {
    margin: 0 0;
    display: flex;
    justify-content: space-between;
    align-items: cneter;
    width: 100%;
    border: 2px solid #cecece;
  }

  .element--borderBottom {
    border-bottom: none;
  }

  .element__cash {
    align-self: center;
    color: $paragraph-color;
  }

  .element__username {
    align-self: center;
  }

  .icon-arrow-down-small {
    padding-top: 25px;
  }

  .table {
    overflow: auto;
  }

  .table-row,
  td {
    padding: 15px 5px;
  }

  .form-box {
    flex-direction: column;
    input {
      width: 100%;
    }
  }

  .payout {
    overflow-x: auto;
  }
}

/* SMALL DEVICES */

@media (min-width: 768px) and (max-width: 950px) {

  .stats {
    padding: 50px 10px;
    flex-direction: column;
  }

  .statsBox--wrapper {
    margin: 20px 0;
  }

  .table-row,
  td {
    padding: 15px 5px;
  }
}
