@import "variables";
@import "mixins";
@import "normalize";
@import "layout";


body {
    background: gray;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 4px solid;
}

.navbar {
    width: 200px;
    height: 100%;
}
.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
    text-decoration: none;
}

.main-nav {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav-links {
    width: 100%;
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    a {
        display: block;
        text-decoration: none;
    }
}

.active {
    display: block;
}