@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "Glyphter";
@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Roboto+Condensed&display=swap");

body {
  background: #f5f5f2;
  display: flex;
  padding-top: 50px;
  width: 100%;
  padding-left: 250px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
}

/* NAVBAR */

.navbar {
  width: 250px;
  background: #191919;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}

.logo-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  a {
    color: $dark-paragraph;
    &:hover {
      color: $primary-icon-hover;
    }
  }
  span i {
    &:hover {
      color: $primary-icon-hover;
    }
  }
}

.fa-bars {
  color: $dark-paragraph;
  font-size: 20px;
}

.logo {
  font-size: 26px;
  text-decoration: none;
  color: #dbd9d9;
  font-family: $logo-font;
  font-weight: 800;
}

.main-nav {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nav-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    font-family: $paragraph-font;
    padding: 10px;
    text-decoration: none;
    color: $paragraph-color;
    &:hover {
      background: linear-gradient(90deg, orange, orange 2%, #282828 2.1%, #282828 100%);
      color: #cecece;
    }
    span {
      margin: 3px 15px 0 5px;
    }
  }
  &:hover span {
    color: #cecece;
  }
}

.icon {
  color: $paragraph-color;
}

.nav-underLine {
  margin-top: 40px;
  border-bottom: 1px solid $paragraph-color;
}

.active {
  display: block;
}

.nav-icon {
  width: 100%;
  height: 100%;
}

.nav-manager {
  font-family: $paragraph-font;
  color: $paragraph-color;
  text-align: left;
  margin: 15px 0 0 15px;
}

.nav-chat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.chat-avatar {
  background-image: url("/images/90.jpg");
  height: 45px;
  width: 45px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.avatar-dot {
  background: $active-green;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 34px;
}

.chat-nick {
  font-family: $paragraph-font;
  color: $user-color;
  margin-right: 30px;
}

/* TOPBAR */

.topbar {
  background: white;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 1px 1px $page-shadow;
  margin-right: 8px;
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
}

.topbar-element {
  display: flex;
  align-items: center;
  color: $secondary-color;
  font-size: 20px;
}

.topbar__icon {
  color: $secondary-color;
  height: 100%;
  padding: 15px 15px;
  &:hover {
    background: $primary-icon-hover;
    transition: 0.5s;
  }
}

.border--left {
  border-left: 2px solid $page-shadow;
}

.border--right {
  border-right: 2px solid $page-shadow;
}

.icon-notification {
  position: relative;
}

.icon-notification::after {
  background: $detali-color;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  content: " ";
  display: block;
  position: absolute;
  top: 12px;
  right: 15px;
}

.cash {
  font-weight: 600;
  font-family: $paragraph-font;
}

.icon-arrow-down-small {
  font-size: 13px;
  padding-top: 20px;
}

.profile__username {
  font-size: 16px;
  color: $user-color;
  padding-right: 10px;
}

/* GENERAL */

.general {
  background: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid $page-shadow;
  box-shadow: 0 0 10px $page-shadow;
  font-family: $paragraph-font;
}

.general__text {
  color: $secondary-color;
  font-weight: 600;
  padding: 15px;
  border-bottom: 2px solid $page-shadow;
}

/* GENERAL--DATE */

.general__date {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 111px;
  border-bottom: 2px solid $page-shadow;
}

.date__box {
  display: flex;
  border: 2px solid $page-shadow;
  border-radius: 3px;
  color: $secondary-color;
  span {
    padding: 10px 10px;
  }
  &:hover {
    border: 2px solid gray;
    transition: 0.4s;
    cursor: pointer;
  }
}

.split__line {
  border: 1px solid $page-shadow;
  margin: 5px 0;
}

.start__date,
.finish__date {
  padding: 10px 70px 10px 15px;
  text-align: left;
  color: $dark-paragraph;
  font-weight: 600;
}

.icon-calendar:hover {
  color: gray;
  transition: 0.4s;
}

.icon-refresh {
  margin: 0 15px;
  background: $detali-color;
  color: $page-shadow;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
  &:hover {
    background: $detali-color-hover;
    color: #fff;
    transition: 0.3s;
  }
}

/* GENERAL--STATS */

.general__stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.stats--wrapper {
  border-bottom: 2px solid $page-shadow;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 250px;
  &:hover {
    border-bottom: 2px solid $secondary-color;
    transition: 0.3s;
  }
}

.stats__info {
  font-family: $paragraph-font;
  font-weight: 600;
  color: $secondary-color;
}

.stats__value {
  margin-left: 30px;
  color: $dark-paragraph;
  font-weight: 600;
  font-family: $paragraph-font;
}

/* GENERAL--CHART */

.general__chart {
  h3 {
    color: $secondary-color;
    font-family: $paragraph-font;
    margin: 0 0 30px 65px;
  }
}

.chart__box {
  display: flex;
  justify-content: center;
}

.chart {
  background: #f3f3f1;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  margin: 0 20px 30px;
  &:hover {
    background: $page-shadow;
    transition: 0.4s;
  }
  h3 {
    font-family: $paragraph-font;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}

.chart__earned {
  background: none;
  h3 {
    color: $user-color;
  }
}

.dot {
  background: #80bfca;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 15px;
}

.orange--dot {
  background: $detali-color;
}

.green--dot {
  background: $active-green;
}

/* GENERAL--DIAGRAM */

.general__diagram {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.diagram__img {
  width: 800px;
  height: 400px;
}

.topbar-mobile {
  display: none;
}

/* MOBILES */

@media (max-width: 687px){
 /* NAV BAR */

 .topbar {
  display: none;
}

.navbar {
  height: auto;
  width: 100%;
  position: fixed;
}

.logo-box {
  justify-content: space-between;
  a {
    margin-left: 40px;
  }
  span {
    margin-right: 20px;
  }
}

.mySidebar {
  display: flex;
  justify-content: center;
  ul {
    width: 100%;
    li {
      width: 100%;
     a{
      display: flex;
      justify-content: center;
     }
    }
  }
}
.mobile-only {
  display: none;
}

.visible {
  display: none;
}

/* BODY */

body {
  padding: 0;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.general {
  margin: 2px;
}

.general__text {
  h3{
    text-align: center;
  }
}

.general__date {
  flex-wrap: wrap;
}

.general__stats {
  flex-direction: column;
  padding: 50px 10px;
}

.stats--wrapper {
  padding: 20px 0;
}

.general__chart {
  h3{
    text-align: center;
    margin: 20px 5px;
  }
}

.chart__box {
  flex-wrap: wrap;
}

.chart {
  h3 {
    margin: 5px 5px;
  }
}

.general__diagram {
  padding: 10px 5px;
}

.topbar-mobile {
  display: flex;
  width: 100%;
  
}

.bottom-bar {
  width: 100%;
}

.topbar-element {
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.topbar__mobileWrapper {
  margin: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: cneter;
  width: 100%;
  border: 2px solid #cecece;
}

.mobileWrapper--border {
  border-bottom: none;
}

.cash {
  align-self: center;
}

.profile__username {
  align-self: center;
}

.icon-arrow-down-small {
  padding-top: 25px;
}
}

/* SMALL DEVICES */

@media (min-width: 688px) and (max-width: 767px) {

  /* NAV BAR */

  .topbar {
    display: none;
  }

  .navbar {
    height: auto;
    width: 100%;
    position: fixed;
  }

  .logo-box {
    justify-content: space-between;
    a {
      margin-left: 20px;
    }
    span {
      margin-right: 20px;
    }
  }

  .mySidebar {
    display: flex;
    justify-content: center;
    ul {
      width: 100%;
      li {
        width: 100%;
       a{
        display: flex;
        justify-content: center;
       }
      }
    }
  }
  .mobile-only {
    display: none;
  }

  .visible {
    display: none;
  }

  /* BODY */

  body {
    padding: 10px;
    padding-top: 50px;
  }
}
